.background-login{
  background-image: url('../img/3599451.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.background-tamansari-skyhive{
  background-image: url('../img/TAMANSARI_SKYHIVE1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
